@media only screen and (min-width: 474px), (max-width: 768px) {
  .triceps-img {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}
@media only screen and (max-width: 473px) {
  .triceps-img {
    position: absolute;
    top: 45%;
    left: 40%;
  }
}
@media only screen and (max-width: 351px) {
  .triceps-img {
    position: absolute;
    top: 45%;
    left: 35%;
  }
}
