@import url(../../assets/localVariables/colorVariables.css);

.triangle {
    border-left: 0px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 56px solid var(--light-color);
}

@media (max-width: 768px) {
    .triangle {
        border-right: 100px solid transparent;
    }
}

@media (max-width: 640px) {
    .triangle {
        border-right: 70px solid transparent;
    }
}